div[name="main"]{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 90px;
}
div{
    margin-top: 10px;
}


nav {
    color: orange;
    font-size: 18px;
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-top: 1px solid orange;
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
}
a{
    float: right;
}
a[name="kosz"]{
    outline-color: orange;
    border-color: orange;
    color: orange;
}
a[name="kosz"]:active:hover{
    color: white;
}
a[name="kosz"]:hover{
    color: white;
    background-color: orange;
}


button{
    outline-color: orange;
    border-color: orange;
    float: right;
    color: orange;
}
button:active:hover{
    color: white;
}
button:hover{
    color: white;
    background-color: orange;
}