<div name="mn">
    <h2>Koszyk</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Ilość</th>
          <th>Akcje</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            <button name="minus" class="btn btn-outline-warning" (click)="zmienIlosc(item)">Zmniejsz Ilość</button>
          </td>
          <td>{{ item.price }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{cenaCalkowita}}</td>
        </tr>
      </tbody>
    </table>
    
    <a href="/menu" name="kosz" class="btn btn-outline-warning">Menu</a>
<div name="wybor">
    <label for="numberSelect">Wybierz stolik</label>
    <select class="form-control" id="stolik">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
    </select>


    <div name="ciski" class="btn-group"  role="group" aria-label="Basic mixed styles example">
        <button [disabled]="czyPrzyciskNieaktywny" type="button" class="btn btn-outline-warning" id="oplac" (click)="ukryjPrzycisk()">{{tekst}}</button>
        <button type="button" class="btn btn-outline-warning" (click)="order()">Zamów</button>
        </div>
    </div>
  </div>