<br>
<div class="container" name="main">
   <label for="searchNumerZamowienia">Numer zamówienia:</label>
    <input class="form-control" type="text" id="searchNumerZamowienia" [(ngModel)]="searchNumerZamowienia" (input)="applyFilter()">
  <br>
<table class="table table-bordered">
<thead>
    <tr>
      <th>Numer Zamówienia</th>
       <th>Produkt</th>
       <th>Ilość</th>
       <th>Cena</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let zamowienie of filteredData">
        <td>{{zamowienie.numer_zamowienia}}</td>
        <td>{{zamowienie.produkt}}</td>
        <td>{{zamowienie.ilosc}}</td>
        <td>{{zamowienie.cena}}</td>
    </tr>
</tbody>
</table>

</div>

<nav>
  <button name="logoutbtn" type="button" class="btn btn-outline-warning" (click)="logout()">Wyloguj</button>
  <button name="swpbtn" type="button" class="btn btn-outline-warning" (click)="swap()">Zamówienia</button>
</nav>
